<section class="total-distance-counter">
  <p>Total trip distance: <%= @trip.total_distance %></p>
</section>
<section class="avg-distance-counter">
  <p>Average trip distance: <%= @trip.average_distance %></p>
</section>
<% if @trip.trails.present? %>
  <section class="trip-highlight-trails">
    <section class="trip-longest-trail">
      <p>Longest Trail on Trip</p>
      <p>Name: <%= @trip.longest_trail.name %></p>
      <p>Length: <%= @trip.longest_trail.length %></p>
    </section>
    <section class="trip-shortest-trail">
      <p>Longest Trail on Trip</p>
      <p>Name: <%= @trip.shortest_trail.name %></p>
      <p>Length: <%= @trip.shortest_trail.length %></p>
    </section>
  </section>
<% end %>
<section class='trails-all'>
  <% @trip.trails.each do |trail| %>
    <section id="trail-<%= trail.id %>">
    <h3><%= link_to trail.name, "/trails/#{trail.id}" %></h3>
    <p><%= trail.name %></p>
    <p><%= trail.address %></p>
    <p><%= trail.length %></p>
  </section>
  <% end %>
</section>
